.bs4-order-tracking{margin-bottom: 30px;overflow: hidden;color: #8b8b8b;padding-left: 0px;margin-top: 30px}
.bs4-order-tracking li{list-style-type: none;font-size: 13px;width: 25%;height: 100px;float: left;position: relative;font-weight: 400;color: #8b8b8b;text-align: center;}
.bs4-order-tracking li:first-child:before{ height: 100px;margin-left: 15px !important;padding-left: 11px !important;text-align : left !important}
.bs4-order-tracking li:last-child:before{height: 100px;margin-right: 5px !important;padding-right: 11px !important;text-align : right !important}
.bs4-order-tracking li>div{color: #fff;width: 29px;text-align: center;line-height: 100px;display: block;font-size: 12px;background: #8b8b8b;border-radius: 50%;margin: auto}
.bs4-order-tracking li:after{content: '';width: 150%;height: 2px;background: #8b8b8b;position: absolute;left: 0%;right: 0%;top: 15px;z-index: -1}
.bs4-order-tracking li:first-child:after{left: 50%}
.bs4-order-tracking li:last-child:after{left: 0%!important;width: 0% !important}
.bs4-order-tracking li.active{font-weight: bold;color: #dd571c}
.bs4-order-tracking li.active>div{background: #dd571c}
.bs4-order-tracking li.active:after{background: #dd571c}
.card-timeline{background-color: #fff;z-index: 0;height:150px;}



@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.wrapper{
  display: inline-flex;
  background: #fff;
  height: 80px;
  width: 1000px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: orange;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-3:checked:checked ~ .option-3,
#option-2:checked:checked ~ .option-2{
  border-color: orange;
  background: orange;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-3:checked:checked ~ .option-3 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-3:checked:checked ~ .option-3 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 15px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-3:checked:checked ~ .option-3 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}



.select
{
  display: inline-block;
  width: 160px;
  height: 34px;
  line-height: 30px;
  position: relative;

}